.body {
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375em;
}

h1{

}

.intro{

}

.first-par
.star-img {
    background-image: url('../images/icon-star.svg');
    width: 84px; 
    height: 16px;
}
